@model IEnumerable<MercDevs_ej2.Models.Descripcionservicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Descripcion de Servicios</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success ">Crear Recepcion</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Id de Servicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicioIdServicioNavigation.IdServicio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDescServ"><button type="button" class="btn btn-warning">Editar</button></a> |
                    <a asp-action="Details" asp-route-id="@item.IdDescServ"> <button type="button" class="btn btn-info" >Detalles</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDescServ"><button type="button" class="btn btn-danger" >Borrar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
