@model List<MercDevs_ej2.ViewModel.EquipoClienteViewModel>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model != null && Model.Any())
    {
        <h2 class="mt-4">Recepciones de Equipos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Cliente</th>
                    <th>Nombre Servicio</th>
                    <th>Fecha</th>
                    <th>Tipo de PC</th>
                    <th>Accesorio</th>
                    <th>Marca PC</th>
                    <th>Modelo PC</th>
                    <th>Número de Serie</th>
                    <th>RAM</th>
                    <th>Almacenamiento</th>
                    <th>GPU</th>
                    <th>Gráfico</th>
                    <th>Estado</th>
                    <th>Completar Recepción</th>
                    <th> Ver Detalles de Recepcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a asp-controller="Clientes" asp-action="Details" asp-route-id="@item.Equipo.IdCliente">@item.ClienteNombre</a></td>
                        <td><a asp-controller="Servicios" asp-action="Details" asp-route-id="@item.Equipo.IdServicio">@item.ServicioNombre</a></td>
                        <td>@item.Equipo.Fecha</td>
                        <td>@item.Equipo.TipoPc</td>
                        <td>@item.Equipo.Accesorio</td>
                        <td>@item.Equipo.MarcaPc</td>
                        <td>@item.Equipo.ModeloPc</td>
                        <td>@item.Equipo.Nserie</td>
                        <td>@item.Equipo.CapacidadRam</td>
                        <td>@item.Equipo.CapacidadAlmacenamiento</td>
                        <td>@item.Equipo.TipoGpu</td>
                        <td>@item.Equipo.Grafico</td>
                        <td>@item.Equipo.Estado</td>
                        <td>
                            <a asp-controller="Recepcionequipoes" asp-action="Completado" asp-route-id="@item.Equipo.Id"><Button class="btn btn-warning">completado</Button></a>
                        </td>
                        <td>
                            <a asp-controller="Recepcionequipoes" asp-action="Details" asp-route-id="@item.Equipo.Id"><Button class="btn btn-info">Ir&nbsp;a&nbsp;Detalle</Button></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No hay recepciones de equipos para mostrar 😔</h2>
    }
</div>
